<a href="https://colab.research.google.com/github/audalsgh/20250626/blob/main/0626_python_numbers~operators.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

숫자 자료형 int, float, complex

In [2]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

길이제한 없는 int

In [4]:
x = 1
y = 35656222554887711
z = -3255522

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

소숫점이 들어가는 순간 float

In [6]:
x = 1.10
y = 1.0
z = -35.59

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

실수를 표현하는 법 (35e3) = 35*10^3 = 35000.0 이라는 실수값

In [10]:
x = 35e3
y = 12E4
z = -87.7e100

print(type(x))
print(type(y))
print(type(z))

print(x)
print(y)
print(z)

<class 'float'>
<class 'float'>
<class 'float'>
35000.0
120000.0
-8.77e+101

숫자 자료형 변환 함수들. int()는 버림연산을 한다

In [19]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

#정수형 1을 실수형 1.0으로 변환하는 함수:
a = float(x)

#실수형 2.8을 정수형 2로 변환하는 함수 = 버림연산:
b = int(y)

#정수형 1을 복소수형 1+j로 변환하는 함수:
c = complex(x)

#문자형 3을 정수형 3으로 변환하는 함수:
d = int("3")

print(a)
print(b)
print(c)
print(d)

print(type(a))
print(type(b))
print(type(c))
print(type(d))

1.0
2
(1+0j)
3
<class 'float'>
<class 'int'>
<class 'complex'>
<class 'int'>

ramdom을 사용하면, 코드 실행시 마다 값이 달라진다.

In [18]:
import random

print(random.randrange(1, 10))

2

------------------------------------------------------------------------------

문자열 자료형으로 변환하는 함수 str()

In [21]:
x = str("s1") # x = 문자열 "s1"
y = str(2)    # y = 문자열 "2"
z = str(3.0)  # z = 문자열 "3.0"

print(x)
print(y)
print(z)

s1
2
3.0

In [22]:
print("따옴표'를 사이에 넣을수 있다")
print("인용 목적으로도 '사용가능'")
print('큰따옴표와 "섞을수도 있다"')

따옴표'를 사이에 넣을수 있다
인용 목적으로도 '사용가능'
큰따옴표와 "섞을수도 있다"

여러줄을 한 변수에 넣으려면 """ 세번을 사용한다

In [24]:
a = """한 변수에 긴 문장을
그것도 두줄이상이 넘는,
경우에는 따옴표를 세번사용하면
된다."""
print(a)

한 변수에 긴 문장을
그것도 두줄이상이 넘는,
경우에는 따옴표를 세번사용하면
된다.

문자열을 인덱스로 접근하면, 캐릭터가 지목된다

In [25]:
a = "Hello, World!"
print(a[1])

e

"free" 라는 문장이 txt변수안에 들어있는지 검사하는 in 문법

In [28]:
txt1 = "The best things in life are free!"
print("free" in txt1)

txt2 = "The best things in life are free!"
print("expensive" not in txt2)

True
True

in 문법은 if조건문에서도 사용가능

In [27]:
txt = "The best things in life are free!"
if "free" in txt:
  print("Yes, 'free' is present.")

Yes, 'free' is present.